/**
 * Plugin CSS
 *
 * @package  mm-dashboard-customizer
 * @developer  Maroun Melhem <http://maroun.me>
 * @version 1.0
 *
 */
.mmdc_plugin_options .mmdc_hidden{
    display: none !important;
}
.mmdc_plugin_options .clear{
    clear: both;
}
.mmdc_plugin_options h3.title {
    color: #C92432;
    text-align: center;
    font-size:22px;
    font-weight: normal;
}

.mmdc_plugin_options h2 {
    color: #C92432;
}

.mmdc_plugin_options .desc {
    color: #5c5c5c !important;
    font-size: 13px !important;
    font-style: italic !important;
    text-align: center !important;
}

.mmdc_plugin_options .credits {
    border-bottom: 1px solid #eeecec !important;
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
    text-align: right !important;
    font-weight: bold !important;
}

.mmdc_plugin_options .credits a {
    text-decoration: none !important;
    color: #C92432 !important;
}

.mmdc_plugin_options .settings_form {
    margin: 40px 0 !important;
}

.mmdc_plugin_options .nav-tab-wrapper a {
    font-size:14px;
}

.mmdc_plugin_options #submit{
    background-color: #C92432 !important;
    border-color: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

.mmdc_plugin_options #submit:hover{
    background-color: #da3543 !important;
}

.mmdc_plugin_options input[type="text"]{
    border: 1px solid;
    font-size: 15px;
    padding: 5px;
    width: 300px;
}

.mmdc_plugin_options .mmdc_login_logo_set img{
    width: 100%;
    max-width: 100px;
    height: auto;
}

.mmdc_plugin_options .mmdc_login_logo_set.bg img{
    max-width: 400px;
}

.mmdc_plugin_options .mmdc_reset_warning{
    color:#da3543;
    text-transform: uppercase;
}

.mmdc_plugin_options .mmdc_reset{
    display: block;
    background-color: #da3543;
    border:none;
    color:#fff;
    margin:20px 0;
}

.mmdc_plugin_options .mmdc_reset:hover{
    color: #da3543;
    background-color: #e5e5e5;
}

.mmdc_plugin_options .mmdc_loader_cont{
    display: block;
    text-align: center;
}

.mmdc_plugin_options .mmdc_loader{
    width:100%;
    max-width: 50px;
    height: auto;
    display: none;
}

.mmdc_plugin_options .mmdc_reset_return{
    color:#da3543;
    text-align: center;
    display: none;
}